.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (max-width: 980px) {
    .container {
      max-width: 980px;
    }
  }
  
